@import 'nib'
@import url('fonts.css')

header,
main,
footer
	padding-left 240px
	

@media only screen and (max-width : 992px)
	header,
	main,
	footer
		padding-left 0
		
.side-nav 
	li
		padding 0
		
		&:hover,
		.active
			background #fff
			
		&:hover a,
		.active a
			color #000 !important
		
		a i
			vertical-align middle
			
	.photo
		height auto
		
.text-justify
	text-align justify
	
.caption h3,
.caption h5
	color #e0e0e0
	text-shadow 1px 1px 3px #000
	
.container 
	overflow hidden

.language-icon
	font-size 3rem